<!-- FOOTER DE GP COLOMBIA - PLANTILLA JINJA 2-->
<head>
    <link rel="stylesheet" href="/static/css/footer_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<footer class="pie-pagina-racing">
    <div class="contenedor-footer">
        <!-- COLUMNA IZQUIERDA -->
        <div class="columna-footer">
            <h3 class="titulo-footer">MOTOCICLISMO EN COLOMBIA</h3>
            <ul class="lista-footer">
                <li>
                    <a href="#" class="enlace-footer">
                        <i class="fa-solid fa-flag-checkered"></i>
                        GP COLOMBIA
                    </a>
                </li>
                <li>
                    <a href="https://fedemoto.org/inicio/gp-colombia/" class="enlace-footer" target="_blank">
                        <i class="fa-solid fa-motorcycle"></i>
                        FEDEMOTO COLOMBIA
                    </a>
                </li>

                <li>
                    <a href="https://mintransporte.gov.co/" class="enlace-footer" target="_blank">
                        <i class="fa-solid fa-road"></i>
                        MINISTERIO DE TRANSPORTE
                    </a>
                </li>

                <li>
                    <a href="https://bogota.gov.co/" class="enlace-footer" target="_blank">
                        <i class="fa-solid fa-building"></i>
                        ALCALDÍA DE BOGOTÁ
                    </a>
                </li>
            </ul>
        </div>

        <!-- COLUMNA CENTRAL -->
        <div class="columna-footer centro-footer">
            <div class="logo-footer">GP'C</div>
            <p class="texto-footer">
                LA COMUNIDAD DIGITAL DEL MOTOCICLISMO COLOMBIANO
            </p>
            <div class="redes-sociales">
                <a href="https://www.facebook.com/gpcolombiaoficial" class="icono-red facebook" target="_blank">
                    <i class="fa-brands fa-facebook" style="color: rgb(255, 255, 255);"></i>
                </a>
                <a href="https://www.instagram.com/gpcolombiaoficial?igsh=bDY1anlxeWI3c3J3" class="icono-red instagram" target="_blank">
                    <i class="fa-brands fa-instagram" style="color: rgb(255, 255, 255);"></i>
                </a>
                <a href="https://www.youtube.com/@gpcolombiaoficial" class="icono-red youtube" target="_blank">
                    <i class="fa-brands fa-youtube fa-fade" style="color: rgb(255, 255, 255);"></i>
                </a>
                <a href="https://twitter.com/gpcolombiaoficial" class="icono-red twitter" target="_blank">
                    <i class="fa-brands fa-x-twitter" style="color: rgb(255, 255, 255);"></i>
                </a>
            </div>
        </div>
        <!-- COLUMNA DERECHA -->
        <div class="columna-footer">
            <h3 class="titulo-footer">NAVEGACIÓN</h3>
            <ul class="lista-footer">
                <li><a href="/" class="enlace-footer">HOME</a></li>
                <li><a href="/mecanica" class="enlace-footer">MECÁNICA</a></li>
                <li><a href="/customizacion" class="enlace-footer">CUSTOMIZACIÓN</a></li>
                <li><a href="/seguros" class="enlace-footer">SEGUROS</a></li>
                <li><a href="/carreras" class="enlace-footer">CARRERAS</a></li>
            </ul>
        </div>
    </div>
</footer>