<!-- HEADER DE GP COLOMBIA - INTEGRACIÓN CON JINJA2-->
 <head>
    <link rel="stylesheet" href="/static/css/header_styles.css">
    <link rel="shortcut icon" href="https://gofwqvawkqvvypddvmop.supabase.co/storage/v1/object/sign/GP_COL_IMG/GP%20COLOMBIA%20.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9kZTk5NGFhYS01ODQ2LTQ4NWMtOGIzNy1iZDE1NjU1Zjg1MDAiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHUF9DT0xfSU1HL0dQIENPTE9NQklBIC5wbmciLCJpYXQiOjE3NzcwNTMzNDQsImV4cCI6MTc3NzY1ODE0NH0.Ra6Lew7-eN8OewxtY-NG3Jmpl2Nf1Y4W3xuBClceneQ" type="image/x-icon">
 </head>
<header class="encabezado-principal">
    <div class="contenedor-encabezado">
        <div class="logo-proyecto">
            <span class="logo-principal">GP</span>
            <span class="logo-secundario">COLOMBIA</span>
        </div>
        <!-- BOTON HAMBURGUESA -->
        <div class="boton-menu-movil" id="botonMenu">
            <span class="linea-menu"></span>
            <span class="linea-menu"></span>
            <span class="linea-menu"></span>
        </div>
        <!-- MENU -->
        <nav class="menu-navegacion" id="menuPrincipal">
            <a href="/" class="enlace-menu activo">HOME</a>
            <a href="/mecanica" class="enlace-menu">MECÁNICA</a>
            <a href="/customizacion" class="enlace-menu">CUSTOMIZACIÓN</a>
            <a href="/seguros" class="enlace-menu">SEGUROS</a>
            <a href="/carreras" class="enlace-menu">CARRERAS</a>

        </nav>
        <script src="{{ url_for('static', path='js/header.js') }}"></script>
    </div>

</header>

<!--         <script src="{{ url_for('static', path='js/header.js') }}"></script> -->